/* 
  Limpiamos los estilos por defecto de Vite que centran todo el contenido
  y rompen el layout de nuestra ChatWindow (que ocupa toda la pantalla).
*/
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}